// -----------------------------------------------------------------------------
// This file contains styles that are specific to the footer section.
// -----------------------------------------------------------------------------

footer {
  padding: 40px 0;

  background: @gray-lighter;
}
.copyright {
  margin: 40px 0 20px;
}

.signature {
  color: @gray-light !important;
  font-size: 11px;
  margin: 0 20px;
}
