// -----------------------------------------------------------------------------
// This file contains styles that are specific to the navigation layout.
// -----------------------------------------------------------------------------

nav {
  text-align: left;
  height: 56px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  h5 {
    color: white;
    padding: 10px 0 10px 50px;
    margin: 0;
    transition: all 0.2s ease-in-out;

    &:hover {background: @olive;}
  }

  .navs {
    padding: 16px 0;
  }

  a {
    color: white;
    padding: 18px 20px;

    &:hover {
      color: white;
      background: @olive;
    }
  }

  @media (min-width: 550px) {
    .navs {
      margin-left: 0;
    }
  }
}
